.button {
  width: 100px;
  border-radius: 5px;
  border: 1px solid white;
  font-weight: lighter;
  &:disabled {
    background-color: rgb(248, 73, 73);
    color: white;
  }
}
.title-container {
  display: flex;

  .title {
    margin-right: 5px;
    font-size: 20px;
  }
  .edit-icon {
    font-size: 18px;
  }
}
