@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$white-color: #fff;
$dark-grey: #5d5b5b;
$light-grey: #a59595e0;
$text-grey: #b6b4b5;
$black-color: #292828;
$blue-navy-color: #183153;
$black-background: rgba(17, 17, 17, 0.8);
$grey-background: rgba(250, 245, 245, 0.7);
$blue-color: #1890ff;
$red-color: #ff0000;

$quick-sand-font: 'Quicksand', sans-serif;
